Pillow==7.0.0
PyQt5==5.14.1
PyQt5-sip==12.7.1
PySide2==5.14.1
PyWavelets==1.1.1
PyYAML==5.3
attrs==19.3.0
Matplotlib==3.1.3
Numpy==1.18.1
opencv-python==4.2.0.32
nv==0.0.6
polarTransform==2.0.0
scikit-image==0.16.2
scipy==1.4.1
shiboken2==5.14.1
pymatreader==0.0.2.1
imutils==0.5.3
